
.aboutUsContainerDiv {
  display: flex;
  flex-direction: row;
  background-color: white;
  min-height: 70vh;
  padding : 20px;
}

.aboutUsSideGalleryDiv {
  background-color: black;
  min-width: 32%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.aboutUsSideGalleryComponentDiv {
  width: 100%;
  aspect-ratio: 1 / 0.65; /* Perfect square */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border: none;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.aboutUsSideGalleryComponentDiv:hover {
  transform: scale(1.03);
  filter: brightness(0.8);
  z-index: 1;
}

.aboutUsMainContentDiv {
  display: flex;
  font-size: large;
  flex-direction: column;
  align-items: center;     /* Center horizontally */
  justify-content: center; /* Center vertically */
  padding: 50px;
  padding-top: 0px;
  gap: 5px;                /* Optional: spacing between elements */
  text-align: center;       /* Optional: center text as well */
}

.aboutUsMainContentDiv h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 0px;
}

.aboutUsMainContentDiv h1:hover,
 .aboutUsMainContentDiv h2:hover {
  color: #3f5a38;
}

.aboutUsHostPieceDiv{
    color: white;
    background-color: #3f5a38;
    width: 90%;
    padding: 20px;
    text-align: left;
}

.aboutUsHostPieceDiv h1:hover,
 .aboutUsHostPieceDiv h2:hover{
  color: white;
 }

.aboutUsHostPieceContentDiv{
  padding: 0px 30px;
}



  