

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2, h3{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  nav {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1); /* transparent white */
    backdrop-filter: blur(30px); /* optional blur effect for modern look */
    padding: 20px 20px;
    z-index: 1000;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end; /* aligns to the right */
    gap: 15px; /* spacing between items */
  }

  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px 10px;
    transition: background 0.3s;
  }

  .nav-links a:hover {
    color: rgb(7, 83, 39);
    background-color: rgba(255, 166, 0, 0.1);
    border-radius: 5px;
  }



.custom-footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('/Images/IndexWelcomeDivImages/front-of-house.jpg') center/cover no-repeat;
  color: white;
  padding: 60px 20px 30px;
  text-align: center;
}

.footer-content p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.6;
}

.footer-content a {
  color: white;
  text-decoration: underline;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  font-size: 14px;
  color: #ccc;
  gap: 25px;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: underline;
}
